.comment-container{
	display: grid;
	grid-template-columns:100px 1fr;
	border:1px solid gray;
	padding: 1rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom:1rem;
}

.comment-container-title{
	display: grid;
	grid-template-columns:1fr 1fr;
}

.comment-container-title p{
	justify-self: end;
}


