
<div class="modal hide text-center" id="myActivateModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <h3>Activate Request</h3> <button type="button" class="close" data-dismiss="modal">x</button> </div>
                <div class="modal-body">
                    <div class="md-form my-0">
                        <div class="box">
                            <div class="content">
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <p>Are you sure you want to activate this request?</p>
                                    <p>This request will match with appropriate properties</p>
                                     <form method="POST" accept-charset="UTF-8" id="activate-form">
                                   {% csrf_token %}
                                        <input type="hidden" name="rid" id="request_id">
                                        <input class="mt-3 btn waves btn-login" id="activate-btn" type="submit" value="" >
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    