{% load staticfiles %}
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fluid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hilton Nairobi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="itemSlider owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
                                <div class="owl-item">
                                    <div class="item">
                                        <img class="owl-lazy" data-src="{% static 'content/img/sliderModal.png' %}" alt="Image" src="{% static 'content/img/sliderModal.png' %}" style="opacity: 1;">
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="item">
                                        <img class="owl-lazy" data-src="{% static 'content/img/sliderModal.png' %}" alt="Image" src="{% static 'content/img/sliderModal.png' %}" style="opacity: 1;">
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <div class="item">
                                        <img class="owl-lazy" data-src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>