{% load staticfiles %}

 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
       <script src="{% static 'js/slider.conf.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <div class="hiddendiv common"></div>
    <script src="{% static 'js/main.js' %}"></script>


<script type="text/javascript">




	$(document).ready(function(){

		$('.unmatched-request-delete').on('click', function(){

			var rid = $(this).attr('data-id');
			document.getElementById('request_id').value = rid;
			document.getElementById('delete-btn').value = "Remove Request ## " + rid;

			$('#delete-form').attr('action', '/all-requests/remove/'+rid+'/');
			
		});


		

		$('.unmatched-request-activate').on('click', function(){

			var rid = $(this).attr('data-id');
			document.getElementById('request_id').value = rid;
			document.getElementById('activate-btn').value = "Activate Request ## " + rid;

			$('#activate-form').attr('action', '/all-requests/activate/'+rid+'/');
			
		});

		//engage modal
		$('.engage-btn').on('click', function(){

			var match_id = localStorage.getItem("match_id");
			document.getElementById('engage_id').value = match_id;
			$('#engage-form').attr('action', '/engage/'+match_id+'/');

		});

		//explore page
		$('.match-link').on('click', function(){
			var match_id = $(this).attr('data-id');
			localStorage.setItem("match_id", match_id);


		});

		//view contact
		$('.view-contact-btn').on('click', function(){
			var match_id = $(this).attr('data-matchid');
			console.log(match_id);
			$.ajax({
	 			 url: '/view-contact/',
	  			type: 'get',
	  			data: {'match_id': match_id},
	  
	  success: function (data) {
	  	
	  	console.log(data.buyer_email);
	    $("#match-first-name").html(data.buyer_first_name);
	    $("#match-last-name").html(data.buyer_last_name);
	    $("#match-email").html(data.buyer_email);
	    $("#match-engagement-date").html(data.engagement_date);
	    $("#myViewContactModal").modal("show");
	    
	    

	  }

			});
		});
	

		$('.view-match').on('click', function(){
			
			var match_id = localStorage.getItem("match_id");
			
			$.ajax({
	 			 url: '/view-match/',
	  			type: 'get',
	  			data: {'match_id': match_id},
	  
	  success: function (data) {
	  	

	    $(".js-match-buyer").html(data.match_buyer);
	    $(".js-match-location").html(data.match_location);
	    $(".js-match-seller").html(data.match_seller);
	    $("#myMatchModal").modal("show");
	    
	    

	  }

			});
		});

		$('.engage-btn').on('click', function(){
			
			var match_id = localStorage.getItem("match_id");
			console.log(match_id);
			$.ajax({
	 			 url: '/engage/',
	  			type: 'post',
	  			data: {'match_id': match_id},
	  
	  success: function (data) {
	  	

	    $(".js-match-buyer").html(data.match_buyer);
	    $(".js-match-location").html(data.match_location);
	    $(".js-match-seller").html(data.match_seller);
	    $("#myMatchModal").modal("show");
	    
	    

	  }

			});
		});


	});
</script>