<div class="modal hide text-center" id="myMatchModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header ">
                <h3>Match Details</h3> <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="details modal-body">
                <div class="md-form my-0">
                    <div class="box">
                        <div class="content">
                            <div class="error"></div>
                            <div class="loginBox">
                                <p id="match_id"></p>
                                <div class="details-inside">
                                    <b><p>Buyer Information</p></b>
                                    <p><span class="js-match-buyer-first-name"></span> <span class="js-match-buyer-last-name"></span></p>
                                    <p>My Price: <span class="js-match-buyer-price"></span></p>
                                </div>

                                <div class="details-inside">
                                    <b><p>Seller Information</p></b>
                                    <p>First Name: <span class="js-match-seller-first-name"></span></p>
                                    <p>Last Name: <span class="js-match-seller-last-name"></span></p>
                                    <p>Property Location: <span class="js-match-property-location"></span></p>
                                    <p>Seller Price: <span class="js-match-seller-price"></span></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
