<div class="modal hide text-center" id="registerModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <h3>Create an account</h3>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <div class="md-form my-0">
                        <div class="box">
                            <div class="content">
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <h4>Please select an option to Proceed</h4>
                                    <form method="POST" accept-charset="UTF-8">
                                        <input type="hidden" name="buyer" value="buyer">
                                        <a type="submit" class="mt-3 btn waves btn-login" href="{% url 'mainapp:select-type' 'buyer' %}" role="button">I am a Buyer</a>
                                        
                                        <a class="mt-3 btn waves btn-login" href="{% url 'mainapp:select-type' 'seller' %}" role="button">I am a Seller</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>