
<div class="modal hide text-center" id="myViewContactModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <h3>Buyer Details</h3> <a  class="close" href="{% url 'mainapp:matches' %}">x</a> </div>
                <div class="modal-body">
                    <div class="md-form my-0">
                        <div class="box">
                            <div class="content">
                                <div class="error"></div>
                                <div class="form loginBox" style="margin-left:5rem;">
                                    <p style="text-align:left;">First Name: <span id="match-first-name"></span></p>
                                    <p style="text-align:left;">Last Name: <span id="match-last-name"></span></p>
                                    <p style="text-align:left;">Email: <span id="match-email"></span></p>
                                    <p style="text-align:left;">Phone Number: <span id="match-phone-number"></span></p>
                                    <p style="text-align:left;">Engagement Date: <span id="match-engagement-date"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    