
<div class="modal hide text-center" id="myViewContactModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header ">
                    <h3>Buyer Details</h3> <button type="button" class="close" data-dismiss="modal">x</button> </div>
                <div class="modal-body">
                    <div class="md-form my-0">
                        <div class="box">
                            <div class="content">
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <p>First Name: <span id="match-first-name"></span></p>
                                    <p>Last Name: <span id="match-last-name"></span></p>
                                    <p>Email: <span id="match-email"></span></p>
                                    <p>Engagement Date: <span id="match-engagement-date"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    