
{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}


<div class="utilities">
    <div class="container bg-2 p-0">
        <div class=" text-center shadow-sm" style="background-color: rgba(250,250,250, .8); padding: 13vh 0;">
            <h1 class="cover-heading">Error 400</h1>
            <h1 class="cover-heading"><span>Hey there! No homes here.</span></h1>
            <h4>Click <a href="{% url 'mainapp:home' %}"><i class="fa fa-home"></i> here</a> to go back</h4>
        </div>
    </div>
</div>
            
     
  {% endblock content %}