{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<!-- contactBody section start -->
<div class="contact">
    <div class="contactWrapper">
        <div class="container">
            <div class="sectionTitle">
                <h1>Contacts</h1>
                <p>Thank you for visiting our website. You have a query? Look at our <a href="{% url 'mainapp:faqs' %}">FAQ's</a>, we may already have a response to your query.
                </p>
            </div>


            <div class="d-lg-flex">
                <div class="contactForm">
                    <div class="detailInner">
                        <div class="sectionHeader">
                            <p>Enquiries.</p>
                        </div>

                        <div class="form-group">
                            <input type="text" name="name" id="name" placeholder="Your Name">
                            <!-- <label for="name">Your Name</label> -->
                        </div>

                        <div class="form-group">
                            <input type="text" name="email" id="email" placeholder="Your Email">
                            <!-- <label for="email">Your Email</label> -->
                        </div>

                        <div class="form-group">
                            <textarea name="message" id="message" cols="30" rows="5" placeholder="Your message"></textarea>
                            <!-- <label for="message">Your message</label> -->
                        </div>

                        <div class="inputGroup mt-4">
                            <div class="md-form">
                                <button class="btn btn-default"> Send</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-2 contactInformation bg-blur">
                    <div class="detailInner">
                        <div class="contactInformationTitle">
                            <h1 class="h1-responsive">Help &amp; Support</h1>
                        </div>
                        <ul class="phone">
                            <li>+254 70 234 567, +020 234 567 11</li>
                            <li>+254 71 234 567</li>
                            <li> info@hbhaven.com</li>
                        </ul>

                        <p class="address">
                            232 Nzimi district H.Javid 123 <br>
                            Nairobi, Kenya
                        </p>

                        <div class="socialIcons">
                            <p class="text-white">Follow Us:</p>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contactBody section end -->


{% endblock content %}