{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <!--Frequently Asked Questions Page-->
    <div class="faq">
            <div class="faqWrapper ">
                <div class="container">
                    <div class="sectionTitle">
                    <h1 class="h1-responsive">Frequently Asked Questions</h1>
                        <br>
                    <hr>
                </div>

                <div class="article">
                    <ol>
                        <li><span>Does HBH sell houses? </span> No. HBH provides a platform for buyers to list their purchase requirements and receive matching offers from sellers.</li>

                        <li><span>How do I create an account? </span></li>

                        <li><span>What does it cost to create an account? </span> Creating an account is absolutely free</li>

                        <li><span>What does it cost to make a home search requirement for interested buyers? </span> Making a home search requirement is free in 2019. Thereafter, we shall have subscription along different periodic tiers as shown below.
                            <ul>
                                <li>1 month = Kes. 500 ($5)</li>
                                <li>3 months = Kes. 1,200 ($12)</li>
                                <li>6 months = Kes. 2,200/= ($24)</li>
                            </ul>
                        </li>

                        <li><span>What does it cost to view home search requirements for potential sellers</span> Viewing home search requirements from buyers is free in 2019. Thereafter, we shall have subscription along different periodic tiers as shown below.
                            <ul>
                                <li>1 month = Kes. 500 ($5)</li>
                                <li>3 months = Kes. 1,200 ($12)</li>
                                <li>6 months = Kes. 2,200/= ($24)</li>
                            </ul>
                        </li>

                        <li><span>How do I make a payment? Making payments is easy.</span> . We only allow online payments – card payments and mobile payments. As you go through your listing process within your account, you will see a make payment step. Click the button and proceed to follow the instructions. Once payment is received and logged in our system, you will receive a "Payment Confirmation" via email. The payment confirmation email serves as a receipt of payment, confirming the exact amount that was received.</li>

                        <li><span>I have forgotten my username or password. How do I get my username or reset my password?</span> If you have forgotten your password simply select "forgot password" from the Login page and follow the prompts. A link will be sent to you via email to reset your password. If you have forgotten your username please get in touch with our customer experience team and we will send you an email with your username.</li>

                        <li><span>How do I report inappropriate content on HBH? </span> You can report suspicious listings or cases of breach of our terms and conditions by contacting our customer experience team for further investigation.</li>
                    </ol>
                </div>
                </div>
            </div>
        </div>
    <!--Frequently Asked Questions Page-->


{% endblock content %}

    
 