{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<!-- listInside page start -->
<div class="listInside ">
  <div class="container listInsideWrapper">
    <a class="btnBack" href="{% url 'mainapp:explore' %}">
      <img src="{% static 'content/img/global/backArrowBlue.svg' %}" alt="backArrow"> Back to results
    </a>

    <div class="listInsideInner">
      <div class="insideLeft">
        <div class="headerLine">
          <div class="homeNameSec">
            <h5>Plot No:{{property.property_number}}</h5>
            <span>{{property.property_type}}</span>
          </div>

          <div class="homePriceSec">
            <p class="date">
              <i class="far fa-calendar-alt"></i> {{property.created_at}}
            </p>

            <h3>Kshs. {{property.price}}</h3>
          </div>
        </div>

        <div class="slider">
          <div id="sync1" class="owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4830px;">
                <div class="owl-item active" style="width: 690px;">
                  <div class="item">
                    <img src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 690px;">
                  <div class="item">
                    <img src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 690px;">
                  <div class="item">
                    <img src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 690px;">
                  <div class="item">
                    <img src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 690px;">
                  <div class="item">
                    <img src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 690px;">
                  <div class="item">
                    <img src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 690px;">
                  <div class="item">
                    <img src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
            <div class="owl-dots disabled"></div>
          </div>

          <div id="sync2" class="owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1610px;">
                <div class="owl-item active" style="width: 230px;">
                  <div class="item">
                    <img src="{% static 'content/img/listing-1.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item active" style="width: 230px;">
                  <div class="item">
                    <img src="{% static 'content/img/listing-1.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item active" style="width: 230px;">
                  <div class="item">
                    <img src="{% static 'content/img/listing-1.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 230px;">
                  <div class="item">
                    <img src="{% static 'content/img/listing-1.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 230px;">
                  <div class="item">
                    <img src="{% static 'content/img/listing-1.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 230px;">
                  <div class="item">
                    <img src="{% static 'content/img/listing-1.png' %}" alt="Image">
                  </div>
                </div>
                <div class="owl-item" style="width: 230px;">
                  <div class="item">
                    <img src="{% static 'content/img/listing-1.png' %}" alt="Image">
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
            <div class="owl-dots disabled"></div>
          </div>
        </div>

        <!--Section: -->
        <div class="reviews">

          <!--Title-->
          <h2 class="section-heading mb-2">
            User Reviews
          </h2>

          <h3>
            Property Owner: {{property.seller}}
          </h3>

          <!-- Description -->
          <p>User rating is based on other users reviews.</p>

          <!--Section: Live preview-->
          <div class="py-1">

            <div class="container pl-0">
              <span id="rateMe2" class="empty-stars"><i class="py-2 px-1 rate-popover far fa-star fas oneStar" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="" data-original-title="Very bad"></i><i class="py-2 px-1 rate-popover far fa-star fas twoStar" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="" data-original-title="Poor"></i><i class="py-2 px-1 rate-popover far fa-star fas threeStar" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="" data-original-title="OK"></i><i class="py-2 px-1 rate-popover far fa-star fas fourStar" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="" data-original-title="Good"></i><i class="py-2 px-1 rate-popover far fa-star" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="" data-original-title="Excellent"></i></span>
            </div>

          </div>
          <!--Section: Live preview-->

        </div>
        <!--/Section: -->
      </div>

      <div class="insideRight">
        <div class="homeDescription">
          <p class="insideSecTitle">Description</p>
          <p class="homeDesc">{{property.other_details}}</p>

          <div class="homefeatures">
            <p><img src="{% static 'content/img/listInside/room.svg' %}"> Room {{property.no_of_bedrooms}}</p>
            <p><img src="{% static 'content/img/listInside/bathroom.svg' %}"> Bathroom {{property.no_of_bathrooms}}</p>
            <!-- <p><img src="{% static 'content/img/listInside/guest.svg' %}"> Guests 4</p> -->
            <p><img src="{% static 'content/img/listInside/bed.svg' %}"> DSQ {% if property.dsq %} Available {% else %} Not Available {% endif %}</p>
          </div>

          <p class="homeAdress"><i class="fas fa-map-marker-alt"></i> {{property.location}}</p>
          <a class="showMap" href="#">Show on map</a>
        </div>

        <div class="buttonsLine">
          <button class="btn btnCall waves-effect waves-light">
            <i class="fas fa-phone"></i> Show Contact
          </button>

          <div class="othereButtons">
            <a href="#" class="d-none"><i class="fas fa-pen"></i> Edit</a>
            <a href="#"><i class="fas fa-heart"></i> Favourite</a>
            <a href="#"><i class="fas fa-trash"></i> Remove</a>
          </div>
        </div>

        <div class="comments">
           {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

          <p class="insideSecTitle">Leave a comment</p>

          <div class="commentBody">
            
            {% for comment in comments %}
            <div class="commentItem">
              <img src="{% static 'content/img/th-1.png' %}" alt="thumbnail">
              <div class="commentTxt">
               {{comment.content}}
              </div>
            </div>
            {% endfor %}


            <a class="btnSeeMore" href="#">See more</a>

          </div>
        </div>
        <div class="addComment">
          <form method="POST">
          <div class="commentItem">
            <img src="{% static 'content/img/th-1.png' %}" alt="thumbnail">
            
              {% csrf_token %}
            <!-- <textarea placeholder="Add your comment"></textarea> -->
            {{content_field}}
            
          </div>

          <button class="btn btnSubmit waves-effect waves-light">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- listInside page end -->




<!-- Modal start -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hilton Nairobi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="itemSlider owl-carousel owl-theme owl-loaded owl-drag">





          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
              <div class="owl-item">
                <div class="item">
                  <img class="owl-lazy" data-src="{% static 'content/img/sliderModal.png' %}" alt="Image" src="{% static 'content/img/sliderModal.png' %}" style="opacity: 1;">
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <img class="owl-lazy" data-src="{% static 'content/img/sliderModal.png' %}" alt="Image" src="{% static 'content/img/sliderModal.png' %}" style="opacity: 1;">
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <img class="owl-lazy" data-src="{% static 'content/img/sliderModal.png' %}" alt="Image">
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
          <div class="owl-dots disabled"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

{% endblock content %}