{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chewa.css' %}">
<style type="text/css">
	
</style>

<div class="container-fluid" style="padding-bottom:1rem;">

	
	<h1 style="text-align: center;padding-top:1rem;">Property Comments</h1>
	<a class="btnBack" href="{% url 'mainapp:list-inside' property.id %}">
            <img src="{% static 'content/img/global/backArrowBlue.svg' %}" alt="backArrow"> Back to Property
        </a>
      <br>
      <br>
      <br> 
	{% for comment in comments %}
	<div class="comment-container">
		<div class="comment-container-left">
			<img src="{% static 'content/img/th-1.png' %}" class="img-responsive">
		</div>

		<div class="comment-container-right">
			<div class="comment-container-title">
				<a href="{% url 'mainapp:account' %}">
				<p class="review-buyer">
					{{comment.buyer.get_full_names}} {% if request.user == comment.buyer %}<i>(Me)</i>{% endif %}
				</p>
				</a>
				
				<p class="review-date">Added on: {{comment.created_at}}</p>
			</div>
			<p class="review-content">
			{{comment.content}}
			</p>
		</div>
	</div>
	{% endfor %}
	
	
</div>


{% endblock content %}