{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chewa.css' %}">
<style type="text/css">

</style>

<div class="account">

    <div class="container">
        
    <div class="sectionTitle">
        <h1 style="text-align: center;">Property Comments</h1>
        <br>
        <hr>
    </div>
        <a class="btnBack" href="{% url 'mainapp:list-inside' property.id %}">
            <img src="{% static 'content/img/global/backArrowBlue.svg' %}" alt="backArrow"> Back to Property
        </a>
        <br>
        <br>
        
       {% if comments.count > 0 %}
        {% for comment in comments %}
            <div class="comments-main">
                <div class="comment-inner">
                    <div class="comment-image">
                        <img src="{% static 'content/img/th-1.png' %}" class="img-responsive">
                    </div>

                    <div class="comment-inner-details">
                        <div class="comment-container-title">
                            <a href="{% url 'mainapp:account' %}">
                                <p class="review-buyer">
                                    {{comment.buyer.get_full_names}} {% if request.user == comment.buyer %}<i>(Me)</i>{% endif %}
                                </p>
                            </a>

                            <p class="review-date"><span>Added on: {{comment.created_at}}</span></p>
                        </div>
                        <p class="review-content">
                            {{comment.content}}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

       {% else %}
       <br>
        <br>
        <center>


            <h4>This Property Does NOT Have Any Comments Yet.</h4>
        </center>

       {% endif %}
    </div>

</div>


{% endblock content %}