{% extends 'base.html' %}
{% load staticfiles %}
{% load sorting_tags %}

{% block content %}



<div class="account">
    <div class="accountWrapper">
        <div class="container">
            <a class="btnBack text-dark" href="{% url 'mainapp:account' %}">
                <img src="{% static 'content/img/global/backArrowBlue.svg' %}" alt="backArrow"> Back to Profile
            </a>

            

            <div class="sectionTitle">
                <center>
                    <h3>All Matches</h3>
                </center>
                <h5><span>User:</span> {{request.user}}</h5>
                <h5><span>Type:</span> {{request.user.userprofile.user_type}}</h5>
                <p>The following is a list of all your matched properties</p>
            </div>
            
            {% if matches_count > 1000 %}
            <div class="actions">
                <div class="float-left">
                    <label>Actions:</label>
                    <a class="btn text-success"><i class="fas fa-plus"></i> Add New Listing</a>
                    <a href="{% url 'mainapp:explore' %}" class="btn"><i class="fa fa-home"></i> All My Properties</a>
                    <a href="{% url 'mainapp:unmatched-requests' %}" class="btn"><i class="fas fa-list"></i> View Unmatched Requests</a>
                </div>
                <div class="float-right">
                    <a class="btn" data-placement="right" title="View Contact"><i class="fas fa-user"></i> </a>
                    <a class="btn" data-placement="right" title="Account Settings"><i class="fas fa-cog"></i> </a>
                </div>
            </div>

            
            <table class="table table-responsive-lg table-hover table-sm">
                <caption>List of matched properties</caption>

                <thead class="">
                    <tr>
                        <th>Match Id</th>
                        <th class="sortable-col">{% anchor buyer_request__buyer__first_name _("Buyer") %}</th>
                        <th class="sortable-col">{% anchor property_entry__location _("Location") %}</th>
                        <th class="sortable-col">{% anchor property_entry__property_type _("Property Type") %}</th>
                        <th class="sortable-col">{% anchor property_entry__no_of_bedrooms _("Bedrooms") %}</th>
                        <th class="sortable-col">{% anchor property_entry__no_of_bathrooms _("Bathrooms") %}</th>
                        <th class="sortable-col">{% anchor property_entry__price _("My Price") %}</th>
                        <th class="sortable-col">{% anchor buyer_request__price _("Buyer's Price") %}</th>
                        <th class="sortable-col">{% anchor engagement_status _("Buyer Response") %}</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% autosort matches %}
                    {% for match in matches %}


                    <tr data-href="{{match.property_entry.get_absolute_url}}">
                        <td class=clickable-cell>
                            ##{{match.id}}
                        </td>
                        <td class=clickable-cell>
                            {{match.buyer_request.buyer.first_name}} {{match.buyer_request.buyer.last_name}}
                        </td>
                        <td class=clickable-cell>
                            {{match.property_entry.location}}
                        </td>
                        <td class=clickable-cell>
                            {{match.property_entry.property_type}}
                        </td>
                        <td style="padding-left:2rem;">
                            {{match.property_entry.no_of_bedrooms}}
                        </td>
                        <td style="padding-left:2rem;">
                            {{match.property_entry.no_of_bathrooms}}
                        </td>
                        <td class=clickable-cell>
                            {{match.property_entry.kshs_price}}
                        </td>
                        <td class=clickable-cell>
                            {{match.buyer_request.kshs_price}}
                        </td>
                        <td class=clickable-cell>
                            {{match.engagement_status}}
                        </td>
                        <td>
                            {% if match.engagement_status == "Accepted" or match.engagement_status == "Completed" %}
                            <a class="btn-md view-contact-btn" data-matchid="{{match.id}}" data-toggle="modal" href="#myViewContactModal" data-placement="right" title="View Contact"><i class="fas fa-phone"></i></a>
                            {% endif %}
                        </td>

                    </tr>





                    {% endfor %}
                </tbody>
            </table>
           


            <style type="text/css">
                .pagination .page-item.active .page-link {
                    background-color: #ff8d59 !important;
                }
            </style>
             {% include "includes/pagination.html" with items=matches %}
        <!--Pagination End-->

        {% else %}
        <h1>You have no matches. <a href="{% url 'mainapp:add-listing' %}">Click here</a> to add property that can be matched by a buyer request</h1>

        {% endif %}
        </div>
    </div>
</div>


{% include "includes/view-contact-modal.html" %}

{% endblock content %}