{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}





<div class="account">
    <div class="container">
        
         <a class="btnBack text-dark" href="{% url 'mainapp:account' %}">
            <img src="{% static 'content/img/global/backArrowBlue.svg' %}" alt="backArrow"> Back
        </a>
        {% if request.user.userprofile.user_type == "Seller" %}

        <div class="sectionTitle">
            <h3>All Matches</h3>
            <h5><span>User:</span> {{request.user}}</h5>
            <h5><span>Type:</span> {{request.user.userprofile.user_type}}</h5>
            <p>The following is a list of all matched properties</p>
        </div>
        
        <table class="table table-responsive-lg table-hover table-sm">
            <caption>List of matched properties</caption>
            
            <thead class="thead-light">
                <tr>
                <th>Match Id</th>
                <th>Buyer</th>
                <th>Location</th>
                <th>Property Type</th>
                <th>Bedrooms</th>
                <th>Buyer Price</th>
                <th>My Price</th>
                <th>Request Status</th>
                <th>Action</th>
            </tr>
            </thead>


            {% for match in matches %}

            <tr>
                <td>
                    ##{{match.id}}
                </td>
                <td>
                    {{match.buyer_request.buyer.first_name}} {{match.buyer_request.buyer.last_name}}
                </td>
                <td>
                    {{match.property_entry.location}}
                </td>
                <td>
                    {{match.property_entry.property_type}}
                </td>
                <td style="padding-left:2rem;">
                    {{match.property_entry.no_of_bedrooms}}
                </td>
                <td>
                    Kshs. {{match.buyer_request.kshs_price}}
                </td>
                <td>
                    Kshs. {{match.property_entry.kshs_price}}
                </td>
                <td>
                    {{match.engagement_status}}
                </td>
                <td>
                    {% if match.engagement_status == "Accepted" %}
                    <a class="btn-md view-contact-btn" data-matchid="{{match.id}}" data-toggle="modal" href="#myViewContactModal">View Contact</a>
                    {% endif %}
                </td>
            </tr>





            {% endfor %}
        </table>


        {% endif %}
    </div>
</div>


{% include "includes/view-contact-modal.html" %}

{% endblock content %}