{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/chewa.css' %}">

<div class="account">
    <div class="property-comments">
        <div class="container">
            <div class="sectionTitle">
                <h1 style="text-align: center;padding-top:1rem;">Seller Reviews</h1>
                <br>
                <hr>
            </div>
            <a class="btnBack" href="{% url 'mainapp:list-inside' property.id %}">
                <img src="{% static 'content/img/global/backArrowBlue.svg' %}" alt="backArrow"> Back to Property
            </a>
            <br>
            <br>

            <div class="row">
                <div class="property-info d-none d-lg-block col-lg-4">
                    <div class="card-body">                        
                        <img src="{% static 'content/img/listing-1.png' %}" class="img-fluid d-block w-100" alt="Responsive image">
                        
                        <div class="user-info">
                            <img src="{% static 'content/img/th-1.png' %}" class="img-responsive">
                            <h6><b>User Name:</b> {{property.seller.get_full_names}}</h6>

                            <div class="mt-3 d-flex">
                                <h5 style="display:flex; margin-right: 10px;">Rating: </h5>
                                <div class="make-rates">
                                    <i class="fa-star star-view-1 {% if average_rating >= 1 %}fas{% else %}far{% endif %}"></i>
                                    <i class="fa-star star-view-2 {% if average_rating >= 2 %}fas{% else %}far{% endif %}"></i>
                                    <i class="fa-star star-view-3 {% if average_rating >= 3 %}fas{% else %}far{% endif %}"></i>
                                    <i class="fa-star star-view-4 {% if average_rating >= 4 %}fas{% else %}far{% endif %}"></i>
                                    <i class="fa-star star-view-5 {% if average_rating == 5 %}fas{% else %}far{% endif %}"></i>
                                </div>
                            </div>
                        </div>

                        <div class="buttons d-flex">
                            <a class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Basic user information" href=""><i class="fas fa-info"></i></a>
                            <a class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Matched Listings" href=""><i class="fas fa-business-time"></i></a>
                            <a class="col-4 text-center" data-toggle="tooltip" data-placement="bottom" title="Report User" href=""><i class="far fa-flag"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col col-lg-8 comments-main">
                    {% if seller_reviews.count > 0 %}
                    {% for review in seller_reviews %}

                    <div class="comment-inner">
                        <div class="comment-image">
                            <img src="{% static 'content/img/th-1.png' %}" class="img-responsive">
                        </div>

                        <div class="comment-inner-details">
                            <div class="comment-container-title">
                                <a href="{% url 'mainapp:account' %}">
                                    <p class="review-buyer">
                                        {{review.buyer.get_full_names}} {% if request.user == review.buyer %}<i>(Me)</i>{% endif %}
                                    </p>
                                </a>

                                <p class="review-date"><span>Added on: {{review.created_at}}</span></p>
                            </div>
                            <p class="review-content">
                                {{review.content}}
                            </p>
                        </div>
                    </div>

                    {% endfor %}
                </div>

                {% else %}
               <div class="col col-lg-8 comments-none">
                    <center>
                        <h5 style="text-align:center;">This Seller Does NOT Have Any Reviews Yet.</h5>
                    </center>
                </div>

                {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock content %}